body {
  background: #4A90E2;
}

.navigation {
  position: relative;
  display: flex;
  width: 1448px;
  height: 61px;
  background: white;
  align-items: center;
}

.fb-icon {
  height: 40px;
}
  
.input-container {
  position: relative;
  width: 281px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-left: 8px;
}
  
.search-field {
  width: 100%;
  height: 100%;
  background: #f1f2f5;
  border-radius: 100px;
  border: 0;
  padding: 11px 18px 11px 36px;
}
  
.search-field:focus {
  outline: none;
}
  
.search-field::placeholder {
  font-size: 15px;
  color: #66676b;
}
  
.search-icon {
  position: absolute;
  top: 12px;
  left: 12px;
}

.elements1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 14px;
}

.play-icon {
  position: relative;
}

.red-circle1 {
  position: absolute;
  top: 6px;
  left: 595px;
}

.number6 p {
position: absolute;
left: 601.4px;
top: -4px;
font-family: Helvetica Neue;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 16px;
color: #FFFFFF;
}

.red-circle2 {
  position: absolute;
  top: 6px;
  left: 865px;
}

.number1 p {
  position: absolute;
  left: 871.4px;
  top: -4px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  }

.elements2 {
  display: flex;
  align-items: center;
  margin-left: -18px;
}

.elements2 a {
  margin-left: 111px;
}

p {
  text-decoration: none;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: black;
}

.elements3 {
  display: flex;
  align-items: center;
  margin-left: 143px;
  
}

.elements3 a {
  margin-left: 9px;
  text-decoration: none;
}

 





